[Unit]
Description=ISecL k8s extended scheduler
ConditionPathExists=/opt/isecl-k8s-extensions/bin/isecl-k8s-scheduler-1.0-SNAPSHOT

[Service]
ExecStart=/opt/iselc-k8s-extensions/bin/isecl-k8s-scheduler-1.0-SNAPSHOT -trustedprefixconf=/opt/isel-k8s-extensions/tag_prefix.conf -log_dir=/var/log/syslog
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target
Alias=isecl-k8s-scheduler.service
